# Discord Bot Token'ınızı buraya yazın
DISCORD_TOKEN=id

# Bot Client ID'si
CLIENT_ID=id

# Bot Sahibi ID'si (isteğe bağlı)
OWNER_ID=id

# Varsayılan prefix (slash komutlar kullanıldığı için gerekli değil)
PREFIX=! 